<div class="p-3 text-center bg-dark">
	<span class="text-white">
		&copy; Haycube Photography Studio
	</span>
	<hr class="w-75" />
	<div class="">
		<a href="" class="btn btn-link btn-sm">
			<small>Privacy Policy</small>
		</a>
		<a href="" class="btn btn-link btn-sm">
			<small>Terms and Conditions</small>
		</a>
		<a href="!!F::route('contact')!!" class="btn btn-link btn-sm">
			<small>Contact Us</small>
		</a>
		<a href="https://instagram.com/haycube_naturegraphic_studio" class="btn btn-link btn-sm">
			<small>
				<i class="fab fa-instagram"></i>
				&nbsp;
				Instagram( @haycube_photography_studio )
			</small>
		</a>
	</div>
</div>
