<!DOCTYPE html>
<html style='overflow-x: hidden' lang="en" >
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>
		<meta name="keywords" content="haycube, haycube nature, Haycube naturegraphic, adventure, haycube.com.ng, haycube photography, haycube studio, photo studio, haycube photo">
		<link rel='icon' href='!!F::route("logo.png")!!'>

		<link rel='stylesheet' href='!!F::static("minify/bootstrap.min.css")!!' type='text/css'>
		<link rel='stylesheet' href='!!F::static("minify/fontawesome5/css/all.min.css")!!' type='text/css'>
		<link rel='stylesheet' href='!!F::static("css/style.css")!!' type='text/css'>

		<script src='!!F::static("minify/jquery.min.js")!!'></script>
		<script src='!!F::static("minify/bootstrap.bundle.min.js")!!'></script>
		<script src='!!F::static("minify/chart.bundle.min.js")!!'></script>
		<script src='!!F::static("minify/jaxify.js")!!'></script>

		<title>!!block=title!!</title>
		<style>
			!!block=style!!
		</style>
	</head>
	<body>
		!!block=content!!
		<script type="text/javascript">
			!!block=script!!
		</script>
	</body>
</html>
