<a href="!!F::route('')!!items/!/!!this.slug!!" class="product shadow-sm text-center">
	<img src="!!this.src!!" class="mw-100" style="pointer-events: none;" />
	<!--div class="color-block w-100" style="background: !!this.color!!"></div-->
	<div class="details">
		<div class="h-100 d-flex justify-content-center align-items-center text-dark">
			<div class="text-center p-4">
				<h2>
					<b>!!this.downloads!!</b>
				</h2>
				<h5 style="font-size: medium;">
					Downloads Remaining
				</h5>
			</div>
		</div>
	</div>
</a>